{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Watch It</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- CSS only -->
  <link rel="stylesheet" href="{% static 'company/dashboard/plugins/fontawesome-free/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'company/dashboard/dist/css/adminlte.css' %}">
</head>
<body class="bg">
{% block content %}

{% endblock %}
<script src="{% static 'company/dashboard/plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'company/dashboard/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'company/dashboard/dist/js/adminlte.min.js' %}"></script>
</body>
</html>