{% extends 'seller/authentication/base.html' %}
{% block content %}
<div class="hold-transition login-page">
<div class="login-box">
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <h1 style="font-family: Brush Script MT, Brush Script Std, cursive; letter-spacing: 1px; font-weight: 600;">Watch It</h1>
    </div>
    <div class="card-body">
      <p class="login-box-msg">Sign in to Enter Dashboard</p>
      <form action="" method="post">
          {% csrf_token %}
          {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
              {{ message }}
            </div>
            {% endfor %}
          {% endif %}
        <div class="input-group mb-3">
          <input type="email" class="form-control" name="email" placeholder="Email" required="True">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" name="password" placeholder="Password" required="True">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
          <div class="">
            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
          </div>
      </form>
      <p class="my-2">
        <a href="{% url 'forgot_password' %}">Forgot Password?</a>
      </p>
      <hr>
      <p class="mb-1">
        Don't have an account? <a href="{% url 'sellerRegister' %}" class="text-center">Register Here</a>
      </p>
    </div>
    </div>
  </div>
</div>
{% endblock %}
