.content-box{
	padding-top: 100px;
}
.content-items-box{
	margin-top: 20px;
}
.cart-items img{
	width: 200px;
}
.right-content{
	padding: 20px;
}
.right-content h4{
	margin-bottom: 5px;
}
.right-content h6{
	margin-bottom: 10px;
}
.right-content form{
	width: 100px;
}
.hidden{
	display: none;
}