{% extends 'seller/dashboard/base.html' %}

{% block content %}
<div class="content-header">
    <div class="container-fluid">
          <h1 class="m-0">Hello,{{ User.name }}</h1>
          <hr>
          <h5 class="mb-2 mt-4">Statistics:</h5>
          <div class="row">
  
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small card -->
              <div class="small-box bg-info">
                <div class="inner">
                  <h3>{{ product_count }}</h3>
  
                  <p>Products</p>
                </div>
                <div class="icon">
                  <i class="fas fa-shopping-cart"></i>
                </div>
                <a href="{% url 'view_products' %}" class="small-box-footer">
                  More info <i class="fas fa-arrow-circle-right"></i>
                </a>
              </div>
            </div>
            <!-- ./col -->

          </div><!-- /.row -->
          <hr>
          <h5 class="mb-2 mt-4">Orders:</h5>
          <div class="row">
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small card -->
              <div class="small-box bg-success">
                <div class="inner">
                  <h3>{{ accepted_orders }}</h3>
  
                  <p>Orders Accepted</p>
                </div>
                <div class="icon">
                  <i class="fas fa-vote-yea"></i>
                </div>
                <a href="{% url 'company_orders' %}" class="small-box-footer">
                  More info <i class="fas fa-arrow-circle-right"></i>
                </a>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small card -->
              <div class="small-box bg-warning">
                <div class="inner">
                  <h3>{{ waiting_orders }}</h3>
  
                  <p>Orders Waiting</p>
                </div>
                <div class="icon">
                  <i class="fas fa-sync-alt"></i>
                </div>
                <a href="{% url 'company_orders' %}" class="small-box-footer">
                  More info <i class="fas fa-arrow-circle-right"></i>
                </a>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small card -->
              <div class="small-box bg-danger">
                <div class="inner">
                  <h3>{{ rejected_orders }}</h3>
  
                  <p>Orders Rejected</p>
                </div>
                <div class="icon">
                  <i class="fas fa-ban"></i>
                </div>
                <a href="{% url 'company_orders' %}" class="small-box-footer">
                  More info <i class="fas fa-arrow-circle-right"></i>
                </a>
              </div>
            </div>
            <!-- ./col -->
          </div>
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <div class="content">
    <div class="container-fluid">
    
    </div>
  </div>
  
{% endblock %}